<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Home - CentDom's Piano Virtuoso</title>
    </head>
    <body>
        <h1>
            Welcome Folks!
        </h1>
        <img th:src="@{/images/test.jpg}"/>
        <p>This is the barest, simplest, most basic page built using Spring Boot with Spring MVC</p>
        <p> Kindly click on this <a th:href = "@{/show-form}">LINK</a> to proceed to fill out our form</p>
    </body>
</html>